.text-line-reveal {
  min-height: 1em;

  .text-line-reveal__line {
    position: relative;
    display: block;
    overflow: hidden;
  }

  .text-line-reveal__text {
    display: block;
  }

  .text-line-reveal__mask {
    position: absolute;
    inset: 0;
    transform: translateX(0%);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
  }

  &.is-revealed .text-line-reveal__mask {
    transform: translateX(101%);
  }
}
